@{
    Layout = "_Layout";
}

<h1 style="text-align: center">Welcome Pierre!</h1>

<h2 style="text-align: center">Click the link below to view your vendors or add a new vendor:</h2>
<a href="/vendors" style="text-align: center">View vendors</a>
<a href="/vendors/new" style="text-align: center">Add a new vendor</a>