@{
    Layout = "_Layout";
}

<div class="container">
    <h1 style="text-align: center">Welcome Pierre!</h1>
    <h2 style="text-align: center">Click the link below to view your vendors or add a new vendor:</h2>
    <p style="text-align: center"><a href="/vendors">View vendors</a></p><br>
    <p style="text-align: center"><a href="/vendors/new">Add a new vendor</a></p>
</div>